html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiGrid-root {
  flexGrow: 1;
  padding: theme.spacing(2)
}

.MuiPaper-root {
  height: "100vh";
}

.MuiList-root {
  width: "100%";
  maxWidth: 360;
  backgroundColor: theme.palette.background.paper
}